{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Delete</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.cuisine_name }}
                    {% if recipe.is_vegetarian == "on" %}
                        <i class="fas fa-leaf light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="Vegetarian"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong> Amount of people this recipe serves: {{ recipe.recipe_serves }}</strong>
                <p>Recipe ingredients: {{ recipe.recipe_ingredients }}</p>
                <p>Created by: <em>{{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}