{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.author|lower %}
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.serves }}
                    {% if recipe.is_vegetarian == "on" %}
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="Vegetarian"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.ingredients }}</strong>
                <p>{{ recipe.duration }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}